# Variabili di ambiente, per compilare il file .env, copiare questo file e rinominarlo in .env
DB_IP=
DB_NOME=
DB_USER=
DB_PASSWORD=

# Nomi di viste/tabelle usate dalle query
DB_TABELLA_BOLLE=NVS_V_IT_BOLLE
DB_TABELLA_ATTRIBUTI_ARTICOLO=NVS_T_ATTEST_ANAGART
DB_TABELLA_UM_ARTICOLO=NVS_T_ATTRIBUTI_ARTICOLI
